.colorRang {
    width: auto;
    height: auto;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 1000;
}
.colorPicker {
   /** z-index: 11111;***/
    margin-left: 0px;
    position: fixed;
    left: 0;
    top: 210px;
   border-left: 0;
    font-size: 18px;
    display: block;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 4px;
    padding: 10px 16px 10px 14px;
    cursor: pointer;
    top: 100px;

}
.colorPicker i {
    font-size: 30px;
}
.colors {
    width: auto;
    height: auto;
    padding: 15px 10px;
    margin-top: 7px;
    display: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 4px;
    background: #e4ebf5;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    
}
.colors span {
    display: block;
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}

.blueCB {background: #6d5dfc}
.lightRedCB {background:#ff0047}
.orangCB {background: #00fff1}  